<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>memory</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit">
    </form>
    <div id="image-container">
    </div>
</body>
<script>
    async function show_image() {
        let res = await fetch('/imagelist')
        let result = await res.json()
        let images = result.image_list

        for (var i=images.length-1;i>-1;i--) {
            let bgImage = document.createElement('img')
            bgImage.src = '/image/' + images[i]
            document.getElementById('image-container').appendChild(bgImage)
        }
    }
    show_image()
</script>
</html>